<!-- templates/base.html -->
{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<body>
<header class="base-href">
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'article_list' %}">Blog</a>
    {% if user.is_authenticated %}
        <a href="{% url 'article_new' %}">+ New Blog Post</a>
        <!-- <a href="{% url 'edit_profile' %}">+ Edit profile</a> -->
        <a href="{% url 'logout' %}">- Log out</a>
    {% else %}
        <a href="{% url 'login' %}">Log in</a>
        <a href="{% url 'signup' %}">Sign up</a>
    {% endif %}
</header>
<div class="base-href">
    {% if user.is_authenticated %}
        <p>
            Hi, {{ user.username }}! You are {{ user.age }} years old!
        </p>
    {% else %}
        <p>
            You are not logged in.
        </p>
    {% endif %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
